
@{
    ViewBag.Title = "Trung tâm bảo hành";
    Layout = "~/Views/Shared/layoutUser.cshtml";
    ViewBag.SearchAction = "/Home/index";
    ViewBag.search = ViewBag.timkiem;
}

<div class="grid">
    <div class="cart-guarantee">
        <div class="header-guarantee">
            <div class="header-back">
                <a href="@Url.Action("Index", "Home")" class="header-back-link">
                    <i class="ti-angle-left header-back-icon"></i>
                    <span class="header-back-text">Về trang chủ</span>
                </a>
            </div>
        </div>

        <div class="list-shops">
            <div class="list-shops-center">
                <div class="check-warranty">
                    <img src="~/Content/css/img/care-services.png" alt="" class="check-warranty-img">
                    <h3 class="check-warranty-title">Tra cứu bảo hành sản phẩm</h3>
                    <div class="check-warranty-search">
                        <form action="" id="warranty-check">
                            <div class="warranty-check-boder">
                                <input type="text" title="Mã IMEI" class="warranty-check-input" placeholder="Nhập IMEI sản phẩm hoặc mã phiếu bảo hành cần tra cứu">
                                <button class="header__search-btn">
                                    <i class="header__search-btn-icon ti-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="list-supplier">
                <h1 class="list-supplier-title">
                    Hệ thống bảo hành điện thoại toàn quốc
                </h1>
                <div class="list-supplier-nav">
                    <i class="ti-location-pin list-supplier-nav-icon"></i>
                    <span class="list-supplier-nav-text">
                        Lựa chọn hãng điện thoại & nhà phân phối
                    </span>

                    <div class="list-supplier-sub-nav">
                        <ul class="list-supplier-sub-nav-list">
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Apple</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Sony</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Xiaomi</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Samsung</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Lenovo</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">ZTE</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Oppo</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Asus</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">LG</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">HTC</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Huawei</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Vivo</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Wiko</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Coolpad</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">BlackBerry</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Nokia</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Motorola</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Meizu</a>
                            </li>
                            <li class="list-supplier-sub-nav-item">
                                <a href="" class="list-supplier-sub-nav-item-link">Phillips</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

